In [1]:
import pandas as pd

In [2]:
df = pd.read.csv('IMDB Movies 2000 - 2020')

AttributeError: module 'pandas' has no attribute 'read'

In [3]:
df = pd.read_csv('IMDB Movies 2000 - 2020')

FileNotFoundError: [Errno 2] No such file or directory: 'IMDB Movies 2000 - 2020'

In [4]:
df = pd.read_csv('IMDB Movies 2000 - 2020')

FileNotFoundError: [Errno 2] No such file or directory: 'IMDB Movies 2000 - 2020'

In [5]:
df = pd.read_csv('IMDB Movies 2000 - 2020.csv')

In [6]:
df.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language_1,language_2,...,actors_1,actors_f2,description,desc35,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,reviews_from_users
0,tt0035423,Kate & Leopold,Kate & Leopold,2001,01/03/2002,"Comedy, Fantasy, Romance",118,USA,English,French,...,Meg Ryan,"Meg Ryan, Hugh Jackman",An English Duke from 1876 is inadvertedly drag...,An English Duke from 1876 is inadvertedly,6.4,77852,48000000,47121859.0,76019048,341.0
1,tt0118589,Glitter,Glitter,2001,30/11/2001,"Drama, Music, Romance",104,USA,English,NaN,...,Mariah Carey,"Mariah Carey, Max Beesley",A young singer dates a disc jockey who helps h...,A young singer dates a disc jockey,2.2,21298,22000000,4274407.0,5271666,319.0
2,tt0118694,In the Mood for Love,Fa yeung nin wah,2000,27/10/2000,"Drama, Romance",98,"Hong Kong, China",Cantonese,Shanghainese,...,Maggie Cheung,"Maggie Cheung, Tony Chiu-Wai Leung","Two neighbors, a woman and a man, form a stron...","Two neighbors, a woman and a man,",8.1,119171,NaN,2738980.0,12854953,422.0
3,tt0120202,"Hollywood, Vermont",State and Main,2000,31/05/2002,"Comedy, Drama",105,"France, USA",English,Italian,...,Michael Higgins,"Michael Higgins, Michael Bradshaw",A movie crew invades a small town whose reside...,A movie crew invades a small town,6.7,20220,NaN,6944471.0,9206279,175.0
4,tt0120263,Canzoni del secondo piano,Sånger från andra våningen,2000,06/10/2000,"Comedy, Drama",98,"Sweden, Norway, Denmark",Swedish,Russian,...,Lars Nordh,"Lars Nordh, Stefan Larsson",Where are we humans going? A film poem inspire...,Where are we humans going? A film,7.6,17188,NaN,80334.0,80334,110.0

In [7]:
df.shape()

TypeError: 'tuple' object is not callable

In [8]:
df.shape

(5487, 24)

In [9]:
df,info()

NameError: name 'info' is not defined

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5487 entries, 0 to 5486
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          5487 non-null   object
 1   title                  5487 non-null   object
 2   original_title         5487 non-null   object
 3   year                   5487 non-null   int64
 4   date_published         5487 non-null   object
 5   genre                  5487 non-null   object
 6   duration               5487 non-null   int64
 7   country                5487 non-null   object
 8   language_1             5483 non-null   object
 9   language_2             2170 non-null   object
 10  language_3             931 non-null    object
 11  director               5487 non-null   object
 12  writer                 5483 non-null   object
 13  actors                 5486 non-null   object
 14  actors_1               5487 non-null   object
 15  actors_f2              5487 non-null   object
 16  description            5487 non-null   object
 17  desc35                 5487 non-null   object
 18  avg_vote               5487 non-null   float64
 19  votes                  5487 non-null   int64
 20  budget                 4131 non-null   object
 21  usa_gross_income       4472 non-null   float64
 22  worlwide_gross_income  5199 non-null   object
 23  reviews_from_users     5486 non-null   float64
dtypes: float64(3), int64(3), object(18)
memory usage: 1.0+ MB

In [11]:
df.describe()

,year,duration,avg_vote,votes,usa_gross_income,reviews_from_users
count,5487.000000,5487.000000,5487.000000,5.487000e+03,4.472000e+03,5486.000000
mean,2010.229269,109.523419,6.491471,9.299644e+04,4.325175e+07,340.589865
std,5.523944,20.473250,0.992526,1.491553e+05,7.368838e+07,524.445579
min,2000.000000,45.000000,1.000000,1.000200e+04,3.830000e+02,2.000000
25%,2006.000000,95.000000,5.900000,1.794700e+04,1.411320e+06,96.000000
50%,2010.000000,106.000000,6.600000,3.858200e+04,1.623919e+07,181.000000
75%,2015.000000,119.000000,7.200000,9.972850e+04,5.271784e+07,377.750000
max,2020.000000,366.000000,9.100000,2.241615e+06,9.366622e+08,10472.000000

0                                      Kate & Leopold
1                                             Glitter
2                                In the Mood for Love
3                                  Hollywood, Vermont
4                           Canzoni del secondo piano
                            ...
5482                      Da 5 Bloods - Come fratelli
5483                              The Kissing Booth 2
5484                              Dov'è il mio corpo?
5485    Falling Inn Love - Ristrutturazione con amore
5486                                  Coffee & Kareem
Name: title, Length: 5487, dtype: object

In [13]:
df[[title, year]]

NameError: name 'title' is not defined

In [14]:
df[['title', 'year']]

                                              title  year
0                                    Kate & Leopold  2001
1                                           Glitter  2001
2                              In the Mood for Love  2000
3                                Hollywood, Vermont  2000
4                         Canzoni del secondo piano  2000
...                                             ...   ...
5482                    Da 5 Bloods - Come fratelli  2020
5483                            The Kissing Booth 2  2020
5484                            Dov'è il mio corpo?  2019
5485  Falling Inn Love - Ristrutturazione con amore  2019
5486                                Coffee & Kareem  2020

[5487 rows x 2 columns]

In [15]:
df[df['year'] > 2015]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language_1,language_2,...,actors_1,actors_f2,description,desc35,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,reviews_from_users
720,tt0315642,Wazir,Wazir,2016,08/01/2016,"Action, Crime, Drama",103,India,Hindi,NaN,...,Amitabh Bachchan,"Amitabh Bachchan, Farhan Akhtar",A grief-stricken cop and an amputee grandmaste...,A grief-stricken cop and an amputee,7.1,16992,NaN,1124045.0,5633588,118.0
953,tt0360556,Fahrenheit 451,Fahrenheit 451,2018,20/05/2018,"Drama, Sci-Fi, Thriller",100,USA,English,NaN,...,Michael B. Jordan,"Michael B. Jordan, Aaron Davis","In a terrifying care-free future, a young man,...","In a terrifying care-free future,",4.9,16882,NaN,NaN,NaN,206.0
1095,tt0376479,American Pastoral,American Pastoral,2016,20/10/2016,"Crime, Drama",108,"Hong Kong, USA",English,Hebrew,...,Ewan McGregor,"Ewan McGregor, Jennifer Connelly",An All-American college star and his beauty qu...,An All-American college star and,6.1,14802,NaN,544098.0,2063436,62.0
1169,tt0385887,Motherless Brooklyn - I segreti di una città,Motherless Brooklyn,2019,07/11/2019,"Crime, Drama, Mystery",144,USA,English,French,...,Edward Norton,"Edward Norton, Gugu Mbatha-Raw","In 1950s New York, a lonely private detective ...","In 1950s New York, a lonely private",6.8,34759,26000000,9277736.0,18477736,319.0
1504,tt0437086,Alita - Angelo della battaglia,Alita: Battle Angel,2019,14/02/2019,"Action, Adventure, Sci-Fi",122,"USA, Japan, Canada",English,Spanish,...,Rosa Salazar,"Rosa Salazar, Christoph Waltz","A deactivated cyborg is revived, but cannot re...","A deactivated cyborg is revived,",7.3,217183,170000000,85710210.0,404852543,2757.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5482,tt9777644,Da 5 Bloods - Come fratelli,Da 5 Bloods,2020,12/06/2020,"Adventure, Drama, War",154,USA,English,Finnish,...,Delroy Lindo,"Delroy Lindo, Jonathan Majors",Four African American vets battle the forces o...,Four African American vets battle,6.5,29694,NaN,NaN,NaN,673.0
5483,tt9784456,The Kissing Booth 2,The Kissing Booth 2,2020,24/07/2020,"Comedy, Romance",134,"UK, USA",English,NaN,...,Joey King,"Joey King, Joel Courtney","In the sequel to 2018's THE KISSING BOOTH, hig...",In the sequel to 2018's THE KISSING,5.9,15189,NaN,NaN,NaN,340.0
5484,tt9806192,Dov'è il mio corpo?,J'ai perdu mon corps,2019,29/11/2019,"Animation, Drama, Fantasy",81,France,French,NaN,...,Hakim Faris,"Hakim Faris, Victoire Du Bois","A story of Naoufel, a young man who is in love...","A story of Naoufel, a young man",7.6,24010,NaN,NaN,1136431,112.0
5485,tt9860728,Falling Inn Love - Ristrutturazione con amore,Falling Inn Love,2019,29/08/2019,"Comedy, Romance",98,USA,English,NaN,...,Christina Milian,"Christina Milian, Adam Demos",When city girl Gabriela spontaneously enters a...,When city girl Gabriela spontaneously,5.6,14108,NaN,NaN,NaN,265.0
5486,tt9898858,Coffee & Kareem,Coffee & Kareem,2020,03/04/2020,"Action, Comedy",88,USA,English,NaN,...,Ed Helms,"Ed Helms, Taraji P. Henson",Twelve-year-old Kareem Manning hires a crimina...,Twelve-year-old Kareem Manning,5.1,10627,NaN,NaN,NaN,388.0

In [16]:
df[(df['year'] > 2015 & (df['imdb_rating'] > 8.0)]

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (3752708676.py, line 1)

In [17]:
df[(df['year']) > 2015 & (df['imdb_rating'] > 8.0)]

KeyError: 'imdb_rating'

In [18]:
df[(df['year'] > 2015) & (df['imdb_rating'] > 8.0)]

KeyError: 'imdb_rating'

In [19]:
df['reviews_from_users']

0       341.0
1       319.0
2       422.0
3       175.0
4       110.0
        ...
5482    673.0
5483    340.0
5484    112.0
5485    265.0
5486    388.0
Name: reviews_from_users, Length: 5487, dtype: float64

In [21]:
df['avg_votes']

KeyError: 'avg_votes'

In [22]:
df['avg_vote']

0       6.4
1       2.2
2       8.1
3       6.7
4       7.6
       ...
5482    6.5
5483    5.9
5484    7.6
5485    5.6
5486    5.1
Name: avg_vote, Length: 5487, dtype: float64

In [23]:
df[(df['year']) > 2015 & (df['avg_vote'] > 8.0)]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language_1,language_2,...,actors_1,actors_f2,description,desc35,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,reviews_from_users
0,tt0035423,Kate & Leopold,Kate & Leopold,2001,01/03/2002,"Comedy, Fantasy, Romance",118,USA,English,French,...,Meg Ryan,"Meg Ryan, Hugh Jackman",An English Duke from 1876 is inadvertedly drag...,An English Duke from 1876 is inadvertedly,6.4,77852,48000000,47121859.0,76019048,341.0
1,tt0118589,Glitter,Glitter,2001,30/11/2001,"Drama, Music, Romance",104,USA,English,NaN,...,Mariah Carey,"Mariah Carey, Max Beesley",A young singer dates a disc jockey who helps h...,A young singer dates a disc jockey,2.2,21298,22000000,4274407.0,5271666,319.0
2,tt0118694,In the Mood for Love,Fa yeung nin wah,2000,27/10/2000,"Drama, Romance",98,"Hong Kong, China",Cantonese,Shanghainese,...,Maggie Cheung,"Maggie Cheung, Tony Chiu-Wai Leung","Two neighbors, a woman and a man, form a stron...","Two neighbors, a woman and a man,",8.1,119171,NaN,2738980.0,12854953,422.0
3,tt0120202,"Hollywood, Vermont",State and Main,2000,31/05/2002,"Comedy, Drama",105,"France, USA",English,Italian,...,Michael Higgins,"Michael Higgins, Michael Bradshaw",A movie crew invades a small town whose reside...,A movie crew invades a small town,6.7,20220,NaN,6944471.0,9206279,175.0
4,tt0120263,Canzoni del secondo piano,Sånger från andra våningen,2000,06/10/2000,"Comedy, Drama",98,"Sweden, Norway, Denmark",Swedish,Russian,...,Lars Nordh,"Lars Nordh, Stefan Larsson",Where are we humans going? A film poem inspire...,Where are we humans going? A film,7.6,17188,NaN,80334.0,80334,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5482,tt9777644,Da 5 Bloods - Come fratelli,Da 5 Bloods,2020,12/06/2020,"Adventure, Drama, War",154,USA,English,Finnish,...,Delroy Lindo,"Delroy Lindo, Jonathan Majors",Four African American vets battle the forces o...,Four African American vets battle,6.5,29694,NaN,NaN,NaN,673.0
5483,tt9784456,The Kissing Booth 2,The Kissing Booth 2,2020,24/07/2020,"Comedy, Romance",134,"UK, USA",English,NaN,...,Joey King,"Joey King, Joel Courtney","In the sequel to 2018's THE KISSING BOOTH, hig...",In the sequel to 2018's THE KISSING,5.9,15189,NaN,NaN,NaN,340.0
5484,tt9806192,Dov'è il mio corpo?,J'ai perdu mon corps,2019,29/11/2019,"Animation, Drama, Fantasy",81,France,French,NaN,...,Hakim Faris,"Hakim Faris, Victoire Du Bois","A story of Naoufel, a young man who is in love...","A story of Naoufel, a young man",7.6,24010,NaN,NaN,1136431,112.0
5485,tt9860728,Falling Inn Love - Ristrutturazione con amore,Falling Inn Love,2019,29/08/2019,"Comedy, Romance",98,USA,English,NaN,...,Christina Milian,"Christina Milian, Adam Demos",When city girl Gabriela spontaneously enters a...,When city girl Gabriela spontaneously,5.6,14108,NaN,NaN,NaN,265.0
5486,tt9898858,Coffee & Kareem,Coffee & Kareem,2020,03/04/2020,"Action, Comedy",88,USA,English,NaN,...,Ed Helms,"Ed Helms, Taraji P. Henson",Twelve-year-old Kareem Manning hires a crimina...,Twelve-year-old Kareem Manning,5.1,10627,NaN,NaN,NaN,388.0

In [24]:
df[(df['year'] > 2015) & (df['avg_vote'] > 8.0)]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language_1,language_2,...,actors_1,actors_f2,description,desc35,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,reviews_from_users
2377,tt10324144,Article 15,Article 15,2019,28/06/2019,"Crime, Drama, Mystery",130,India,Hindi,NaN,...,Ayushmann Khurrana,"Ayushmann Khurrana, Nassar","In the rural heartlands of India, an upright p...","In the rural heartlands of India,",8.2,21343,NaN,NaN,734514,322.0
2403,tt10431500,Yedinci Kogustaki Mucize,Yedinci Kogustaki Mucize,2019,11/10/2019,Drama,132,Turkey,Turkish,NaN,...,Aras Bulut Iynemli,"Aras Bulut Iynemli, Nisa Sofiya Aksongur",A story of love between a mentally-ill father ...,A story of love between a mentally-ill,8.3,28714,NaN,NaN,17163660,307.0
3708,tt1950186,Le Mans '66 - La grande sfida,Ford v Ferrari,2019,14/11/2019,"Action, Biography, Drama",152,USA,English,Italian,...,Matt Damon,"Matt Damon, Christian Bale",Two swindlers get their hands on a map to the ...,Two swindlers get their hands,8.1,251782,97600000,117624357.0,225508210,1316.0
3880,tt2119532,La battaglia di Hacksaw Ridge,Hacksaw Ridge,2016,02/02/2017,"Biography, Drama, History",139,"Australia, USA",English,Japanese,...,Andrew Garfield,"Andrew Garfield, Richard Pyros",A wealthy New York City investment banking exe...,A wealthy New York City investment,8.1,418336,40000000,67209615.0,180450918,914.0
4094,tt2380307,Coco,Coco,2017,28/12/2017,"Animation, Adventure, Family",105,USA,English,Spanish,...,Anthony Gonzalez,"Anthony Gonzalez, Gael García Bernal","Aspiring musician Miguel, confronted with his ...","Aspiring musician Miguel, confronted",8.4,352455,175000000,209726015.0,807083670,1101.0
4116,tt2395469,Gully Boy,Gully Boy,2019,14/02/2019,"Drama, Music",153,India,Hindi,NaN,...,Ranveer Singh,"Ranveer Singh, Alia Bhatt",A coming-of-age story based on the lives of st...,A coming-of-age story based on,8.1,29747,NaN,5566534.0,28141995,459.0
4475,tt3315342,Logan - The Wolverine,Logan,2017,01/03/2017,"Action, Drama, Sci-Fi",137,USA,English,Spanish,...,Hugh Jackman,"Hugh Jackman, Patrick Stewart","In a future where mutants are nearly extinct, ...",In a future where mutants are,8.1,627493,97000000,226277068.0,619021436,1574.0
4710,tt4016934,Mademoiselle,Ah-ga-ssi,2016,29/08/2019,"Drama, Romance, Thriller",145,South Korea,Korean,Japanese,...,Min-hee Kim,"Min-hee Kim, Tae-ri Kim",A woman is hired as a handmaiden to a Japanese...,A woman is hired as a handmaiden,8.1,104588,KRW 10000000000,2006788.0,37767206,224.0
4740,tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018,25/04/2018,"Action, Adventure, Sci-Fi",149,USA,English,NaN,...,Robert Downey Jr.,"Robert Downey Jr., Chris Hemsworth",The Avengers and their allies must be willing ...,The Avengers and their allies,8.4,796486,321000000,678815482.0,2048359754,4273.0
4741,tt4154796,Avengers: Endgame,Avengers: Endgame,2019,24/04/2019,"Action, Adventure, Drama",181,USA,English,Japanese,...,Robert Downey Jr.,"Robert Downey Jr., Chris Evans",A young genius frantically races against time ...,A young genius frantically races,8.4,754786,356000000,858373000.0,2797800564,8869.0
4843,tt4633694,Spider-Man: Un nuovo universo,Spider-Man: Into the Spider-Verse,2018,25/12/2018,"Animation, Action, Adventure",117,USA,English,Spanish,...,Shameik Moore,"Shameik Moore, Jake Johnson",Teen Miles Morales becomes the Spider-Man of h...,Teen Miles Morales becomes the,8.4,335892,90000000,190241310.0,375540831,1828.0
4875,tt4729430,Klaus: I segreti del Natale,Klaus,2019,15/11/2019,"Animation, Adventure, Comedy",96,"Spain, UK",English,Saami,...,Jason Schwartzman,"Jason Schwartzman, J.K. Simmons",A simple act of kindness always sparks another...,A simple act of kindness always,8.2,74832,40000000,NaN,NaN,592.0
4901,tt4849438,Baahubali 2: The Conclusion,Bãhubali 2: The Conclusion,2017,28/04/2017,"Action, Drama",167,India,Telugu,Tamil,...,Prabhas,"Prabhas, Rana Daggubati","When Shiva, the son of Bahubali, learns about ...","When Shiva, the son of Bahubali,",8.2,72607,INR 2500000000,20186659.0,254158390,510.0
4903,tt4857264,Contrattempo,Contratiempo,2016,01/07/2017,"Crime, Drama, Mystery",106,Spain,Spanish,NaN,...,Mario Casas,"Mario Casas, Ana Wagener",A successful entrepreneur accused of murder an...,A successful entrepreneur accused,8.1,127253,EUR 4000000,NaN,31191910,395.0
4938,tt5027774,"Tre manifesti a Ebbing, Missouri","Three Billboards Outside Ebbing, Missouri",2017,11/01/2018,"Comedy, Crime, Drama",115,"UK, USA",English,NaN,...,Frances McDormand,"Frances McDormand, Caleb Landry Jones",A mother personally challenges the local autho...,A mother personally challenges,8.2,411693,15000000,54513740.0,160192031,1195.0
4949,tt5074352,Dangal,Dangal,2016,23/12/2016,"Action, Biography, Drama",161,India,Hindi,English,...,Aamir Khan,"Aamir Khan, Fatima Sana Shaikh","In the future, an alien race uses androids as ...","In the future, an alien race uses",8.4,147907,INR 700000000,12391761.0,303723636,387.0
5000,tt5311514,Your Name.,Kimi no na wa.,2016,23/01/2017,"Animation, Drama, Fantasy",106,Japan,Japanese,NaN,...,Ryûnosuke Kamiki,"Ryûnosuke Kamiki, Mone Kamishiraishi",Two strangers find themselves linked in a biza...,Two strangers find themselves,8.4,178480,JPY 370000000,5017246.0,358922706,664.0
5002,tt5312232,Sairat,Sairat,2016,29/04/2016,"Drama, Romance",174,India,Marathi,NaN,...,Rinku Rajguru,"Rinku Rajguru, Akash Thosar","In interior Maharashtra, a fisherman's son and...","In interior Maharashtra, a fisherman's",8.3,11018,NaN,NaN,NaN,92.0
5005,tt5323662,Koe no katachi,Koe no katachi,2016,24/10/2017,"Animation, Drama, Family",130,Japan,Japanese,Japanese Sign Language,...,Miyu Irino,"Miyu Irino, Saori Hayami",A young man is ostracized by his classmates af...,A young man is ostracized by his,8.2,40855,NaN,644391.0,30490447,180.0
5007,tt5354160,Aynabaji,Aynabaji,2016,30/09/2016,"Crime, Mystery, Thriller",147,Bangladesh,Bengali,NaN,...,Chanchal Chowdhury,"Chanchal Chowdhury, Masuma Rahman Nabila",Ayna is an actor and the prison is his stage. ...,Ayna is an actor and the prison,9.1,19876,BDT 35000000,NaN,NaN,114.0
5036,tt5571734,Pink,Pink,2016,16/09/2016,"Drama, Thriller",136,India,Hindi,NaN,...,Taapsee Pannu,"Taapsee Pannu, Amitabh Bachchan",When three young women are implicated in a cri...,When three young women are implicated,8.1,37673,NaN,NaN,180180,206.0
5094,tt5813916,Montagna II,Dag II,2016,04/11/2016,"Action, Drama, War",135,Turkey,Turkish,NaN,...,Caglar Ertugrul,"Caglar Ertugrul, Ufuk Bayraktar",In a desolate war zone where screams of the in...,In a desolate war zone where screams,8.8,103949,TRL 2000000,NaN,11378898,145.0
5109,tt5867800,Aruvi,Aruvi,2016,15/12/2017,Drama,130,India,Tamil,NaN,...,Aditi Balan,"Aditi Balan, Padmashri Mohammad Ali",A gentle girl born and brought up amidst the e...,A gentle girl born and brought,8.5,10269,400000,NaN,NaN,102.0
5162,tt6148156,Vikram Vedha,Vikram Vedha,2017,21/07/2017,"Action, Crime, Thriller",147,India,Tamil,NaN,...,Madhavan,"Madhavan, Vijay Sethupathi","Vikram, a no-nonsense police officer, accompan...","Vikram, a no-nonsense police officer,",8.6,24441,INR 150000000,NaN,546792,136.0
5192,tt6316138,Ayla: The Daughter of War,Ayla: The Daughter of War,2017,27/10/2017,"Biography, Drama, History",125,Turkey,Chinese,Turkish,...,Çetin Tekindor,"Çetin Tekindor, Ismail Hacioglu","In 1950, amid-st the ravages of the Korean War...","In 1950, amid-st the ravages of",8.5,32247,NaN,NaN,946947,66.0
5199,tt6380520,Dhuruvangal Pathinaaru,Dhuruvangal Pathinaaru,2016,29/12/2016,"Action, Crime, Mystery",105,India,Tamil,NaN,...,Rahman,"Rahman, Prakash Raghavan",A police officer retires after an accident dur...,A police officer retires after,8.3,11410,NaN,NaN,NaN,68.0
5228,tt6628102,L'albero dei frutti selvatici,Ahlat Agaci,2018,04/10/2018,Drama,188,"Turkey, Republic of North Macedonia, France, G...",Turkish,NaN,...,Dogu Demirkol,"Dogu Demirkol, Murat Cemcir",An unpublished writer returns to his hometown ...,An unpublished writer returns,8.1,18609,NaN,34014.0,1717349,57.0
5240,tt6751668,Parasite,Gisaengchung,2019,07/11/2019,"Comedy, Drama, Thriller",132,South Korea,Korean,English,...,Kang-ho Song,"Kang-ho Song, Sun-kyun Lee",Greed and class discrimination threaten the ne...,Greed and class discrimination,8.6,470931,11400000,53369749.0,257604912,2714.0
5279,tt6966692,Green Book,Green Book,2018,31/01/2019,"Biography, Comedy, Drama",130,"USA, China",English,Italian,...,Viggo Mortensen,"Viggo Mortensen, Mahershala Ali",A working-class Italian-American bouncer becom...,A working-class Italian-American,8.2,341975,23000000,85080171.0,321752656,1472.0
5288,tt7019842,96,96,2018,04/10/2018,"Drama, Romance",158,India,Tamil,NaN,...,Vijay Sethupathi,"Vijay Sethupathi, Trisha Krishnan",Two high school sweethearts meet at a reunion ...,Two high school sweethearts meet,8.6,16525,NaN,NaN,616333,382.0
5294,tt7060344,Ratsasan,Ratsasan,2018,05/10/2018,"Action, Crime, Thriller",170,India,Tamil,NaN,...,Vishnu Vishal,"Vishnu Vishal, Radha Ravi",A Sub-Inspector sets out in pursuit of a myste...,A Sub-Inspector sets out in pursuit,8.7,19367,NaN,NaN,NaN,426.0
5316,tt7286456,Joker,Joker,2019,03/10/2019,"Crime, Drama, Thriller",122,"USA, Canada",English,NaN,...,Joaquin Phoenix,"Joaquin Phoenix, Robert De Niro","In Gotham City, mentally troubled comedian Art...","In Gotham City, mentally troubled",8.5,855097,55000000,335451311.0,1074251311,10472.0
5317,tt7294534,Arjun Reddy,Arjun Reddy,2017,25/08/2017,"Action, Drama, Romance",182,India,Telugu,NaN,...,Vijay Deverakonda,"Vijay Deverakonda, Shalini Pandey","Arjun Reddy, a short tempered house surgeon ge...","Arjun Reddy, a short tempered",8.1,19911,INR 25000000,NaN,145522,128.0
5333,tt7392212,Rangasthalam,Rangasthalam,2018,30/03/2018,"Action, Drama",170,India,Telugu,NaN,...,Ram Charan,"Ram Charan, Samantha Ruth Prabhu",The fear of his elder brother's death starts t...,The fear of his elder brother's,8.4,17902,NaN,NaN,551820,147.0
5373,tt7738784,Peranbu,Peranbu,2018,01/02/2019,Drama,147,India,Tamil,NaN,...,Mammootty,"Mammootty, Sadhana, Anjali","A single father tries to raise his daughter, w...",A single father tries to raise,9.0,11752,INR 70000000,NaN,3417,369.0
5381,tt7838252,K.G.F: Chapter 1,K.G.F: Chapter 1,2018,21/12/2018,"Action, Drama",156,India,Kannada,NaN,...,Yash,"Yash, Srinidhi Shetty","In the 1970s, a fierce rebel rises against bru...","In the 1970s, a fierce rebel rises",8.2,31765,NaN,NaN,6421597,1068.0
5400,tt8108198,Andhadhun,Andhadhun,2018,05/10/2018,"Crime, Thriller",139,India,Hindi,English,...,Ayushmann Khurrana,"Ayushmann Khurrana, Tabu",A series of mysterious events change the life ...,A series of mysterious events,8.3,65800,4500000,1193046.0,62475342,851.0
5403,tt8110330,Dil Bechara,Dil Bechara,2020,24/07/2020,"Comedy, Drama, Romance",101,India,Hindi,NaN,...,Sushant Singh Rajput,Sushant Singh Rajput,The emotional journey of two hopelessly in lov...,The emotional journey of two hopelessly,8.8,101686,NaN,NaN,42248,7639.0
5407,tt8144834,Section 375,Section 375,2019,13/09/2019,"Drama, Mystery",124,India,Hindi,NaN,...,Akshaye Khanna,"Akshaye Khanna, Richa Chadha",A celebrated Bollywood director Rohan Khurana ...,A celebrated Bollywood director,8.1,10409,NaN,NaN,129916,186.0
5416,tt8239946,Tumbbad,Tumbbad,2018,12/10/2018,"Drama, Fantasy, Horror",104,"India, Sweden",Hindi,NaN,...,Sohum Shah,"Sohum Shah, Jyoti Malshe",A mythological story about a goddess who creat...,A mythological story about a goddess,8.3,24345,NaN,NaN,NaN,667.0
5421,tt8267604,Cafarnao - Caos e miracoli,Capharnaüm,2018,11/04/2019,Drama,126,"Lebanon, USA, France, Cyprus, Qatar, UK",Arabic,Amharic,...,Zain Al Rafeea,"Zain Al Rafeea, Yordanos Shiferaw",While serving a five-year sentence for a viole...,While serving a five-year sentence,8.4,53506,4000000,1661096.0,64417003,335.0
5422,tt8291224,Uri: The Surgical Strike,Uri: The Surgical Strike,2019,11/01/2019,"Action, Drama, War",138,India,Hindi,NaN,...,Vicky Kaushal,"Vicky Kaushal, Paresh Rawal",Indian army special forces execute a covert op...,Indian army special forces execute,8.3,41318,INR 450000000,4186168.0,39346577,960.0
5435,tt8503618,Hamilton,Hamilton,2020,03/07/2020,"Biography, Drama, History",160,USA,English,NaN,...,Daveed Diggs,"Daveed Diggs, Renée Elise Goldsberry",The real life of one of America's foremost fou...,The real life of one of America's,8.7,37551,NaN,NaN,NaN,488.0
5440,tt8579674,1917,1917,2019,23/01/2020,"Drama, War",119,"USA, UK, India, Spain, Canada, China",English,French,...,Dean-Charles Chapman,Dean-Charles Chapman,"April 6th, 1917. As a regiment assembles to wa...","April 6th, 1917. As a regiment",8.3,362897,95000000,159227644.0,384857224,2843.0
5442,tt8613070,Ritratto della giovane in fiamme,Portrait de la jeune fille en feu,2019,19/12/2019,"Drama, Romance",122,France,French,Italian,...,Noémie Merlant,"Noémie Merlant, Adèle Haenel",On an isolated island in Brittany at the end o...,On an isolated island in Brittany,8.1,49960,NaN,3759854.0,9919850,309.0
5461,tt9052870,Chhichhore,Chhichhore,2019,06/09/2019,"Comedy, Drama",143,India,Hindi,NaN,...,Sushant Singh Rajput,Sushant Singh Rajput,"A tragic incident forces Anirudh, a middle-age...","A tragic incident forces Anirudh,",8.2,29437,NaN,2004400.0,3311131,642.0

In [25]:
df[(df['year'] > 2015) & (df['avg_vote'] > 8.0) & (df['country' = 'USA')]

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (946092289.py, line 1)

In [26]:
df[(df['year'] > 2015) & (df['avg_vote'] > 8.0) & (df['country' == 'USA')]

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (616179515.py, line 1)

In [27]:
df[(df['year'] > 2015) & (df['avg_vote'] > 8.0) & (df['country' = 'USA')]]

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (1587773664.py, line 1)

In [28]:
df[(df['year'] > 2015) & (df['avg_vote'] > 8.0) & (df['country'] = 'USA')]

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (2712873039.py, line 1)

In [29]:
df[(df['year'] > 2015) & (df['avg_vote'] > 8.0) & (df['country'] == 'USA')]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language_1,language_2,...,actors_1,actors_f2,description,desc35,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,reviews_from_users
3708,tt1950186,Le Mans '66 - La grande sfida,Ford v Ferrari,2019,14/11/2019,"Action, Biography, Drama",152,USA,English,Italian,...,Matt Damon,"Matt Damon, Christian Bale",Two swindlers get their hands on a map to the ...,Two swindlers get their hands,8.1,251782,97600000,117624357.0,225508210,1316.0
4094,tt2380307,Coco,Coco,2017,28/12/2017,"Animation, Adventure, Family",105,USA,English,Spanish,...,Anthony Gonzalez,"Anthony Gonzalez, Gael García Bernal","Aspiring musician Miguel, confronted with his ...","Aspiring musician Miguel, confronted",8.4,352455,175000000,209726015.0,807083670,1101.0
4475,tt3315342,Logan - The Wolverine,Logan,2017,01/03/2017,"Action, Drama, Sci-Fi",137,USA,English,Spanish,...,Hugh Jackman,"Hugh Jackman, Patrick Stewart","In a future where mutants are nearly extinct, ...",In a future where mutants are,8.1,627493,97000000,226277068.0,619021436,1574.0
4740,tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018,25/04/2018,"Action, Adventure, Sci-Fi",149,USA,English,NaN,...,Robert Downey Jr.,"Robert Downey Jr., Chris Hemsworth",The Avengers and their allies must be willing ...,The Avengers and their allies,8.4,796486,321000000,678815482.0,2048359754,4273.0
4741,tt4154796,Avengers: Endgame,Avengers: Endgame,2019,24/04/2019,"Action, Adventure, Drama",181,USA,English,Japanese,...,Robert Downey Jr.,"Robert Downey Jr., Chris Evans",A young genius frantically races against time ...,A young genius frantically races,8.4,754786,356000000,858373000.0,2797800564,8869.0
4843,tt4633694,Spider-Man: Un nuovo universo,Spider-Man: Into the Spider-Verse,2018,25/12/2018,"Animation, Action, Adventure",117,USA,English,Spanish,...,Shameik Moore,"Shameik Moore, Jake Johnson",Teen Miles Morales becomes the Spider-Man of h...,Teen Miles Morales becomes the,8.4,335892,90000000,190241310.0,375540831,1828.0
5435,tt8503618,Hamilton,Hamilton,2020,03/07/2020,"Biography, Drama, History",160,USA,English,NaN,...,Daveed Diggs,"Daveed Diggs, Renée Elise Goldsberry",The real life of one of America's foremost fou...,The real life of one of America's,8.7,37551,NaN,NaN,NaN,488.0

In [30]:
df[df['genre'] == 'drama']

Empty DataFrame
Columns: [imdb_title_id, title, original_title, year, date_published, genre, duration, country, language_1, language_2, language_3, director, writer, actors, actors_1, actors_f2, description, desc35, avg_vote, votes, budget, usa_gross_income, worlwide_gross_income, reviews_from_users]
Index: []

[0 rows x 24 columns]

In [31]:
df[df['genre'] == 'Drama']

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language_1,language_2,...,actors_1,actors_f2,description,desc35,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,reviews_from_users
13,tt0120824,The Shipping News - Ombre dal profondo,The Shipping News,2001,15/02/2002,Drama,111,"Canada, USA",English,NaN,...,Kevin Spacey,"Kevin Spacey, Julianne Moore",An emotionally beaten man with his young daugh...,An emotionally beaten man with,6.7,31614,38000000,11434216.0,24690441,210.0
108,tt0180093,Requiem for a Dream,Requiem for a Dream,2000,15/12/2000,Drama,102,USA,English,NaN,...,Ellen Burstyn,"Ellen Burstyn, Jared Leto",The drug-induced utopias of four Coney Island ...,The drug-induced utopias of four,8.3,748291,4500000,3635482.0,7390108,2130.0
110,tt0181536,Scoprendo Forrester,Finding Forrester,2000,23/03/2001,Drama,136,USA,English,German,...,Sean Connery,"Sean Connery, Rob Brown",A young writing prodigy finds a mentor in a re...,A young writing prodigy finds,7.3,81537,43000000,51804714.0,80049764,338.0
174,tt0203230,Conta su di me,You Can Count on Me,2000,16/03/2001,Drama,111,USA,English,NaN,...,Amy Ryan,"Amy Ryan, Michael Countryman",A single mother's life is thrown into turmoil ...,A single mother's life is thrown,7.5,27607,1200000,9416804.0,11242521,241.0
194,tt0208990,La stanza del figlio,La stanza del figlio,2001,09/03/2001,Drama,99,"Italy, France",Italian,Latin,...,Nanni Moretti,"Nanni Moretti, Laura Morante",A psychoanalyst and his family go through prof...,A psychoanalyst and his family,7.3,17324,NaN,1016340.0,11767402,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5408,tt8151874,Honey Boy,Honey Boy,2019,27/02/2020,Drama,94,USA,English,Spanish,...,Shia LaBeouf,"Shia LaBeouf, Lucas Hedges",A young actor's stormy childhood and early adu...,A young actor's stormy childhood,7.3,23102,NaN,3012615.0,3400977,167.0
5419,tt8254556,Girl,Girl,2018,27/09/2018,Drama,105,"Belgium, Netherlands",French,Flemish,...,Victor Polster,"Victor Polster, Arieh Worthalter",A promising teenage dancer enrolls at a presti...,A promising teenage dancer enrolls,7.1,11348,NaN,NaN,4178992,43.0
5421,tt8267604,Cafarnao - Caos e miracoli,Capharnaüm,2018,11/04/2019,Drama,126,"Lebanon, USA, France, Cyprus, Qatar, UK",Arabic,Amharic,...,Zain Al Rafeea,"Zain Al Rafeea, Yordanos Shiferaw",While serving a five-year sentence for a viole...,While serving a five-year sentence,8.4,53506,4000000,1661096.0,64417003,335.0
5423,tt8291806,Dolor y gloria,Dolor y gloria,2019,17/05/2019,Drama,113,"Spain, France",Spanish,NaN,...,Antonio Banderas,"Antonio Banderas, Asier Etxeandia",An aging film director suffering from chronic ...,An aging film director suffering,7.6,45061,NaN,4567338.0,37137074,181.0
5425,tt8359816,Sorry We Missed You,Sorry We Missed You,2019,02/01/2020,Drama,101,"UK, France, Belgium",English,NaN,...,Kris Hitchen,"Kris Hitchen, Debbie Honeywood",Hoping that self-employment through gig econom...,Hoping that self-employment through,7.6,13141,NaN,28273.0,8766149,106.0

In [32]:
df[df['genre'].str.contains('Action')]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language_1,language_2,...,actors_1,actors_f2,description,desc35,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,reviews_from_users
6,tt0120667,I Fantastici 4,Fantastic Four,2005,16/09/2005,"Action, Adventure, Fantasy",106,"USA, Germany",English,NaN,...,Ioan Gruffudd,"Ioan Gruffudd, Jessica Alba",A group of astronauts gain superpowers after a...,A group of astronauts gain superpowers,5.7,307944,100000000,154696080.0,333535934,1029.0
9,tt0120737,Il Signore degli Anelli - La compagnia dell'An...,The Lord of the Rings: The Fellowship of the Ring,2001,18/01/2002,"Action, Adventure, Drama",178,"New Zealand, USA",English,Sindarin,...,Alan Howard,"Alan Howard, Noel Appleby",A meek Hobbit from the Shire and eight compani...,A meek Hobbit from the Shire and,8.8,1619920,93000000,315544750.0,887934303,5392.0
11,tt0120755,Mission: Impossible II,Mission: Impossible II,2000,07/07/2000,"Action, Adventure, Thriller",123,"USA, Germany",English,NaN,...,Tom Cruise,"Tom Cruise, Dougray Scott",IMF agent Ethan Hunt is sent to Sydney to find...,IMF agent Ethan Hunt is sent to,6.1,308586,125000000,215409889.0,546388108,1501.0
12,tt0120804,Resident Evil,Resident Evil,2002,05/07/2002,"Action, Horror, Sci-Fi",100,"UK, Germany, USA",English,NaN,...,Ryan McCluskey,"Ryan McCluskey, Oscar Pearce","A special military unit fights a powerful, out...",A special military unit fights,6.7,243241,33000000,40119709.0,102984862,1178.0
14,tt0120903,X-Men,X-Men,2000,27/10/2000,"Action, Adventure, Sci-Fi",104,USA,English,NaN,...,Hugh Jackman,"Hugh Jackman, Patrick Stewart",In a world where mutants (evolved super-powere...,In a world where mutants (evolved,7.4,562022,75000000,157299718.0,296339528,1448.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5454,tt8836988,Missione Vendetta,Avengement,2019,17/06/2019,"Action, Crime",87,UK,English,NaN,...,Scott Adkins,"Scott Adkins, Craig Fairbrass","After years of assaults on him in prison, Cain...",After years of assaults on him,6.5,10112,NaN,NaN,39153,174.0
5455,tt8851668,The Lovebirds,The Lovebirds,2020,22/05/2020,"Action, Comedy, Crime",86,USA,English,NaN,...,Issa Rae,"Issa Rae, Kumail Nanjiani",A couple (Issa Rae and Kumail Nanjiani) experi...,A couple (Issa Rae and Kumail,6.0,18121,NaN,NaN,NaN,242.0
5456,tt8936646,Tyler Rake,Extraction,2020,24/04/2020,"Action, Thriller",116,USA,English,Hindi,...,Chris Hemsworth,"Chris Hemsworth, Bryon Lerum","Tyler Rake, a fearless black market mercenary,...","Tyler Rake, a fearless black market",6.7,141677,NaN,NaN,NaN,2919.0
5465,tt9243946,El Camino: Il film di Breaking Bad,El Camino: A Breaking Bad Movie,2019,11/10/2019,"Action, Crime, Drama",122,USA,English,NaN,...,Aaron Paul,"Aaron Paul, Jonathan Banks",El Camino: A Breaking Bad Movie follows fugiti...,El Camino: A Breaking Bad Movie,7.3,172191,NaN,NaN,NaN,1731.0
5486,tt9898858,Coffee & Kareem,Coffee & Kareem,2020,03/04/2020,"Action, Comedy",88,USA,English,NaN,...,Ed Helms,"Ed Helms, Taraji P. Henson",Twelve-year-old Kareem Manning hires a crimina...,Twelve-year-old Kareem Manning,5.1,10627,NaN,NaN,NaN,388.0

In [33]:
df['movie_age'] = 2025 - df['year]

SyntaxError: unterminated string literal (detected at line 1) (2300556708.py, line 1)

In [34]:
df['movie_age'] = 2025 - df['year']

In [35]:
print(df[['title','year', 'movie_age']].head())

                       title  year  movie_age
0             Kate & Leopold  2001         24
1                    Glitter  2001         24
2       In the Mood for Love  2000         25
3         Hollywood, Vermont  2000         25
4  Canzoni del secondo piano  2000         25

In [36]:
print("Broj nedostajućih vrednosti po kolonama:")
print(df.isnull().sum())

Broj nedostajućih vrednosti po kolonama:
imdb_title_id               0
title                       0
original_title              0
year                        0
date_published              0
genre                       0
duration                    0
country                     0
language_1                  4
language_2               3317
language_3               4556
director                    0
writer                      4
actors                      1
actors_1                    0
actors_f2                   0
description                 0
desc35                      0
avg_vote                    0
votes                       0
budget                   1356
usa_gross_income         1015
worlwide_gross_income     288
reviews_from_users          1
movie_age                   0
dtype: int64

In [37]:
df['reviews_from_users'].fillna(0, inplace=True)

C:\Users\Milic\AppData\Local\Temp\ipykernel_2824\3435931312.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['reviews_from_users'].fillna(0, inplace=True)

In [38]:
df['reviews_from_users'] = df['reviews_from_users'].fillna(0)

In [39]:
print("\nStanje nakon popunjavanja:")
print(df.isnull().sum())

Stanje nakon popunjavanja:
imdb_title_id               0
title                       0
original_title              0
year                        0
date_published              0
genre                       0
duration                    0
country                     0
language_1                  4
language_2               3317
language_3               4556
director                    0
writer                      4
actors                      1
actors_1                    0
actors_f2                   0
description                 0
desc35                      0
avg_vote                    0
votes                       0
budget                   1356
usa_gross_income         1015
worlwide_gross_income     288
reviews_from_users          0
movie_age                   0
dtype: int64

In [40]:
prosecna_ocena_po_godini = df.groupby('year')['avg_vote'].mean()

In [41]:
print("\nProsečna ocena po godini:")
print(prosecna_ocena_po_godini)

Prosečna ocena po godini:
year
2000    6.470950
2001    6.537624
2002    6.476526
2003    6.483575
2004    6.575314
2005    6.519106
2006    6.452759
2007    6.500000
2008    6.445085
2009    6.440268
2010    6.460714
2011    6.447712
2012    6.500345
2013    6.523765
2014    6.483183
2015    6.510963
2016    6.571613
2017    6.465772
2018    6.511034
2019    6.550218
2020    6.150000
Name: avg_vote, dtype: float64

In [42]:
import pandas as pd
from sqlalchemy import create_engine

In [1]:
from pyspark.sql import SparkSession

# Korak 1: Kreiranje Spark Sesije
# Ovo je ulazna tačka u Spark svet, kao 'engine' za bazu
# Kreira mali, lokalni Spark "klaster" unutar tvog računara
spark = SparkSession.builder.appName("UvodUSpark").getOrCreate()

print("Spark sesija uspešno napravljena!")
print(spark)

# Korak 2: Učitavanje ISTOG CSV fajla, ali sada sa Spark-om
# Zameni ime fajla ako je potrebno
spark_df = spark.read.csv(
    "IMDB Movies 2000 - 2020.csv",
    header=True,       # Kažemo Sparku da prvi red sadrži imena kolona
    inferSchema=True   # Kažemo Sparku da pokuša sam da pogodi tipove podataka (npr. da je 'year' broj)
)

# Korak 3: Prikazivanje podataka
print("\nShema (struktura) Spark DataFrame-a:")
spark_df.printSchema() # Slično kao .info() u Pandas-u

print("\nPrvih 5 redova podataka:")
spark_df.show(5) # Slično kao .head() u Pandas-u

# Korak 4: Zaustavljanje sesije (dobra praksa)
spark.stop()

Spark sesija uspešno napravljena!
<pyspark.sql.session.SparkSession object at 0x0000027258741E80>

Shema (struktura) Spark DataFrame-a:
root
 |-- imdb_title_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- date_published: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- language_1: string (nullable = true)
 |-- language_2: string (nullable = true)
 |-- language_3: string (nullable = true)
 |-- director: string (nullable = true)
 |-- writer: string (nullable = true)
 |-- actors: string (nullable = true)
 |-- actors_1: string (nullable = true)
 |-- actors_f2: string (nullable = true)
 |-- description: string (nullable = true)
 |-- desc35: string (nullable = true)
 |-- avg_vote: string (nullable = true)
 |-- votes: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- usa_gross_income: string (nullable = true)
 |-- worlwide_gross_income: string (nullable = true)
 |-- reviews_from_users: string (nullable = true)


Prvih 5 redova podataka:
+-------------+--------------------+--------------------+----+--------------+--------------------+--------+--------------------+----------+------------+----------+------------------+--------------------+--------------------+---------------+--------------------+--------------------+--------------------+--------+------+--------+----------------+---------------------+------------------+
|imdb_title_id|               title|      original_title|year|date_published|               genre|duration|             country|language_1|  language_2|language_3|          director|              writer|              actors|       actors_1|           actors_f2|         description|              desc35|avg_vote| votes|  budget|usa_gross_income|worlwide_gross_income|reviews_from_users|
+-------------+--------------------+--------------------+----+--------------+--------------------+--------+--------------------+----------+------------+----------+------------------+--------------------+--------------------+---------------+--------------------+--------------------+--------------------+--------+------+--------+----------------+---------------------+------------------+
|    tt0035423|      Kate & Leopold|      Kate & Leopold|2001|    01/03/2002|Comedy, Fantasy, ...|     118|                 USA|   English|      French|      NULL|     James Mangold|Steven Rogers, Ja...|Meg Ryan, Hugh Ja...|       Meg Ryan|Meg Ryan, Hugh Ja...|An English Duke f...|An English Duke f...|     6.4| 77852|48000000|        47121859|             76019048|               341|
|    tt0118589|             Glitter|             Glitter|2001|    30/11/2001|Drama, Music, Rom...|     104|                 USA|   English|        NULL|      NULL|Vondie Curtis-Hall|Cheryl L. West, K...|Mariah Carey, Max...|   Mariah Carey|Mariah Carey, Max...|A young singer da...|A young singer da...|     2.2| 21298|22000000|         4274407|              5271666|               319|
|    tt0118694|In the Mood for Love|    Fa yeung nin wah|2000|    27/10/2000|      Drama, Romance|      98|    Hong Kong, China| Cantonese|Shanghainese|    French|      Kar-Wai Wong|        Kar-Wai Wong|Maggie Cheung, To...|  Maggie Cheung|Maggie Cheung, To...|Two neighbors, a ...|Two neighbors, a ...|     8.1|119171|    NULL|         2738980|             12854953|               422|
|    tt0120202|  Hollywood, Vermont|      State and Main|2000|    31/05/2002|       Comedy, Drama|     105|         France, USA|   English|     Italian|      NULL|       David Mamet|         David Mamet|Michael Higgins, ...|Michael Higgins|Michael Higgins, ...|A movie crew inva...|A movie crew inva...|     6.7| 20220|    NULL|         6944471|              9206279|               175|
|    tt0120263|Canzoni del secon...|Sånger från andra...|2000|    06/10/2000|       Comedy, Drama|      98|Sweden, Norway, D...|   Swedish|     Russian|      NULL|     Roy Andersson|       Roy Andersson|Lars Nordh, Stefa...|     Lars Nordh|Lars Nordh, Stefa...|Where are we huma...|Where are we huma...|     7.6| 17188|    NULL|           80334|                80334|               110|
+-------------+--------------------+--------------------+----+--------------+--------------------+--------+--------------------+----------+------------+----------+------------------+--------------------+--------------------+---------------+--------------------+--------------------+--------------------+--------+------+--------+----------------+---------------------+------------------+
only showing top 5 rows

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Kreiramo Spark Sesiju
spark = SparkSession.builder.appName("Transformacije").getOrCreate()

# Učitavamo podatke
spark_df = spark.read.csv(
    "IMDB Movies 2000 - 2020.csv",
    header=True,
    inferSchema=True
)

# --- TRANSFORMACIJE ---

# 1. Selekcija kolona (slično kao df[['col1', 'col2']])
# Ovo je samo plan, ništa se još ne izvršava
selected_df = spark_df.select("title", "year", "avg_vote")

# 2. Filtriranje (slično kao df[df['year'] > 2015])
# I ovo je samo plan, dodajemo novi korak
filtered_df = selected_df.filter(col("year") > 2015)

# 3. Kreiranje nove kolone (slično kao df['new_col'] = ...)
# I dalje samo planiramo
df_with_new_col = filtered_df.withColumn("ocena_puta_10", col("avg_vote") * 10)

# 4. Prikazivanje rezultata - AKCIJA!
print("Rezultat nakon svih transformacija:")
# TEK SADA, kada pozovemo .show(), Spark pogleda ceo plan i izvrši sve odjednom
df_with_new_col.show(10)

# Zaustavljamo sesiju
spark.stop()

Rezultat nakon svih transformacija:

{"ts": "2025-08-27 19:56:11.245", "level": "ERROR", "logger": "DataFrameQueryContextLogger", "msg": "[CAST_INVALID_INPUT] The value '7.1' of the type \"STRING\" cannot be cast to \"BIGINT\" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018", "context": {"file": "line 26 in cell [2]", "line": "", "fragment": "__mul__", "errorClass": "CAST_INVALID_INPUT"}, "exception": {"class": "Py4JJavaError", "msg": "An error occurred while calling o86.showString.\n: org.apache.spark.SparkNumberFormatException: [CAST_INVALID_INPUT] The value '7.1' of the type \"STRING\" cannot be cast to \"BIGINT\" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018\n== DataFrame ==\n\"__mul__\" was called from\nline 26 in cell [2]\n\r\n\tat org.apache.spark.sql.errors.QueryExecutionErrors$.invalidInputInCastToNumberError(QueryExecutionErrors.scala:145)\r\n\tat org.apache.spark.sql.catalyst.util.UTF8StringUtils$.withException(UTF8StringUtils.scala:51)\r\n\tat org.apache.spark.sql.catalyst.util.UTF8StringUtils$.toLongExact(UTF8StringUtils.scala:31)\r\n\tat org.apache.spark.sql.catalyst.util.UTF8StringUtils.toLongExact(UTF8StringUtils.scala)\r\n\tat org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)\r\n\tat org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)\r\n\tat org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:50)\r\n\tat org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:402)\r\n\tat org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:901)\r\n\tat org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:901)\r\n\tat org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)\r\n\tat org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:374)\r\n\tat org.apache.spark.rdd.RDD.iterator(RDD.scala:338)\r\n\tat org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)\r\n\tat org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:171)\r\n\tat org.apache.spark.scheduler.Task.run(Task.scala:147)\r\n\tat org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$5(Executor.scala:647)\r\n\tat org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:80)\r\n\tat org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:77)\r\n\tat org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:99)\r\n\tat org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:650)\r\n\tat java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)\r\n\tat java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)\r\n\tat java.base/java.lang.Thread.run(Thread.java:840)\r\n\tat org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:1009)\r\n\tat org.apache.spark.SparkContext.runJob(SparkContext.scala:2484)\r\n\tat org.apache.spark.SparkContext.runJob(SparkContext.scala:2505)\r\n\tat org.apache.spark.SparkContext.runJob(SparkContext.scala:2524)\r\n\tat org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:544)\r\n\tat org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:497)\r\n\tat org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:58)\r\n\tat org.apache.spark.sql.classic.Dataset.collectFromPlan(Dataset.scala:2244)\r\n\tat org.apache.spark.sql.classic.Dataset.$anonfun$head$1(Dataset.scala:1379)\r\n\tat org.apache.spark.sql.classic.Dataset.$anonfun$withAction$2(Dataset.scala:2234)\r\n\tat org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)\r\n\tat org.apache.spark.sql.classic.Dataset.$anonfun$withAction$1(Dataset.scala:2232)\r\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$8(SQLExecution.scala:162)\r\n\tat org.apache.spark.sql.execution.SQLExecution$.withSessionTagsApplied(SQLExecution.scala:268)\r\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$7(SQLExecution.scala:124)\r\n\tat org.apache.spark.JobArtifactSet$.withActiveJobArtifactState(JobArtifactSet.scala:94)\r\n\tat org.apache.spark.sql.artifact.ArtifactManager.$anonfun$withResources$1(ArtifactManager.scala:112)\r\n\tat org.apache.spark.sql.artifact.ArtifactManager.withClassLoaderIfNeeded(ArtifactManager.scala:106)\r\n\tat org.apache.spark.sql.artifact.ArtifactManager.withResources(ArtifactManager.scala:111)\r\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$6(SQLExecution.scala:124)\r\n\tat org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:291)\r\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$1(SQLExecution.scala:123)\r\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\r\n\tat org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId0(SQLExecution.scala:77)\r\n\tat org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:233)\r\n\tat org.apache.spark.sql.classic.Dataset.withAction(Dataset.scala:2232)\r\n\tat org.apache.spark.sql.classic.Dataset.head(Dataset.scala:1379)\r\n\tat org.apache.spark.sql.Dataset.take(Dataset.scala:2810)\r\n\tat org.apache.spark.sql.classic.Dataset.getRows(Dataset.scala:339)\r\n\tat org.apache.spark.sql.classic.Dataset.showString(Dataset.scala:375)\r\n\tat java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)\r\n\tat java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)\r\n\tat java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)\r\n\tat java.base/java.lang.reflect.Method.invoke(Method.java:569)\r\n\tat py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)\r\n\tat py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)\r\n\tat py4j.Gateway.invoke(Gateway.java:282)\r\n\tat py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)\r\n\tat py4j.commands.CallCommand.execute(CallCommand.java:79)\r\n\tat py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)\r\n\tat py4j.ClientServerConnection.run(ClientServerConnection.java:108)\r\n\tat java.base/java.lang.Thread.run(Thread.java:840)\r\n", "stacktrace": [{"class": null, "method": "deco", "file": "C:\\Users\\Milic\\OneDrive\\Desktop\\de-portfolio\\venv\\Lib\\site-packages\\pyspark\\errors\\exceptions\\captured.py", "line": "282"}, {"class": null, "method": "get_return_value", "file": "C:\\Users\\Milic\\OneDrive\\Desktop\\de-portfolio\\venv\\Lib\\site-packages\\py4j\\protocol.py", "line": "327"}]}}

NumberFormatException: [CAST_INVALID_INPUT] The value '7.1' of the type "STRING" cannot be cast to "BIGINT" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018
== DataFrame ==
"__mul__" was called from
line 26 in cell [2]

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.types import DoubleType # Važan novi import za definisanje tipa

# Kreiramo Spark Sesiju
spark = SparkSession.builder.appName("Transformacije").getOrCreate()

# Učitavamo podatke
spark_df = spark.read.csv(
    "IMDB Movies 2000 - 2020.csv",
    header=True,
    inferSchema=True
)

# --- PRIPREMA TIPOVA PODATAKA ---
print("\nPretvaram 'avg_vote' kolonu u numerički tip...")
# Kažemo Sparku da prepiše kolonu 'avg_vote' sa novom verzijom
# gde je svaka vrednost pretvorena (cast) u Double (decimalni broj)
spark_df = spark_df.withColumn("avg_vote", col("avg_vote").cast(DoubleType()))


# --- TRANSFORMACIJE ---
# Ostatak koda ostaje POTPUNO ISTI

# 1. Selekcija kolona
selected_df = spark_df.select("title", "year", "avg_vote")

# 2. Filtriranje
filtered_df = selected_df.filter(col("year") > 2015)

# 3. Kreiranje nove kolone
df_with_new_col = filtered_df.withColumn("ocena_puta_10", col("avg_vote") * 10)

# 4. Prikazivanje rezultata - AKCIJA!
print("\nRezultat nakon svih transformacija:")
df_with_new_col.show(10)

# Zaustavljamo sesiju
spark.stop()

Pretvaram 'avg_vote' kolonu u numerički tip...

Rezultat nakon svih transformacija:
+--------------------+----+--------+-------------+
|               title|year|avg_vote|ocena_puta_10|
+--------------------+----+--------+-------------+
|               Wazir|2016|     7.1|         71.0|
|      Fahrenheit 451|2018|     4.9|         49.0|
|   American Pastoral|2016|     6.1|         61.0|
|Motherless Brookl...|2019|     6.8|         68.0|
|Alita - Angelo de...|2019|     7.3|         73.0|
|             Shazam!|2019|     7.1|         71.0|
|        Wonder Woman|2017|     7.4|         74.0|
|The Only Living B...|2017|     6.3|         63.0|
|        Ave, Cesare!|2016|     6.3|         63.0|
|             Silence|2016|     7.2|         72.0|
+--------------------+----+--------+-------------+
only showing top 10 rows

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Kreiramo Spark Sesiju
spark = SparkSession.builder.appName("Agregacije").getOrCreate()

# Učitavamo podatke
spark_df = spark.read.csv(
    "IMDB Movies 2000 - 2020.csv",
    header=True,
    inferSchema=True
)

# --- AGREgACIJA ---
print("\nBroj filmova po godini:")

# Slično kao u Pandas-u: .groupby() pa agregatna funkcija .count()
movies_per_year_df = spark_df.groupBy("year").count()

# Hajde da sortiramo rezultat da bude preglednije (od najnovijih godina)
sorted_movies_per_year = movies_per_year_df.orderBy(col("year").desc())

# AKCIJA! Prikazujemo rezultat
sorted_movies_per_year.show(10)

# Zaustavljamo sesiju
spark.stop()

Broj filmova po godini:
+----+-----+
|year|count|
+----+-----+
|2020|   60|
|2019|  229|
|2018|  290|
|2017|  298|
|2016|  310|
|2015|  301|
|2014|  333|
|2013|  324|
|2012|  290|
|2011|  306|
+----+-----+
only showing top 10 rows

In [5]:
from pyspark.sql import SparkSession

# Kreiramo Spark Sesiju
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

# Učitavamo podatke
spark_df = spark.read.csv(
    "IMDB Movies 2000 - 2020.csv",
    header=True,
    inferSchema=True
)

# --- SPARK SQL ---

# Korak 1: Registruj DataFrame kao privremenu tabelu
# Dajemo joj ime 'movies_table' koje ćemo koristiti u SQL-u
spark_df.createOrReplaceTempView("movies_table")

print("DataFrame 'spark_df' je sada dostupan kao SQL tabela 'movies_table'.")

# Korak 2: Napiši SQL upit kao običan Python string
# Ovo je standardni SQL koji si već naučio!
sql_upit = """
    SELECT
        year,
        COUNT(*) AS broj_filmova
    FROM
        movies_table
    WHERE
        year IS NOT NULL
    GROUP BY
        year
    ORDER BY
        year DESC
"""

# Korak 3: Izvrši SQL upit pomoću spark.sql()
# Rezultat je NOVI Spark DataFrame
rezultat_df = spark.sql(sql_upit)

# Korak 4: Prikaži rezultat
print("\nRezultat dobijen pomoću Spark SQL-a:")
rezultat_df.show(10)

# Zaustavljamo sesiju
spark.stop()

DataFrame 'spark_df' je sada dostupan kao SQL tabela 'movies_table'.

Rezultat dobijen pomoću Spark SQL-a:
+----+------------+
|year|broj_filmova|
+----+------------+
|2020|          60|
|2019|         229|
|2018|         290|
|2017|         298|
|2016|         310|
|2015|         301|
|2014|         333|
|2013|         324|
|2012|         290|
|2011|         306|
+----+------------+
only showing top 10 rows